<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>
  <br/>
  <br/>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <ul class="list-group" style="border-radius: 0">
                  <li class="list-group-item active" aria-current="true" style="background-color: green">All departments</li>
                  <li class="list-group-item">A second item</li>
                  <li class="list-group-item">A third item</li>
                  <li class="list-group-item">A fourth item</li>
                  <li class="list-group-item">And a fifth one</li>
                  <li class="list-group-item">And a fifth one</li>
                  <li class="list-group-item">And a fifth one</li>
                  <li class="list-group-item">And a fifth one</li>
                </ul>
            </div>
            <div class="col-9">
                <div class="d-flex align-items-center" style="background-image: url('https://ivankitanovski.github.io/exam/banner.jpg'); height: 350px; background-position: center; background-size: cover;">
                    <div style="margin-left: 50px">
                        <p style="color: green">FRUIT FRESH</p>
                        <h1 class="fw-bold">Vegetable</h1>
                        <h1 class="fw-bold">100% Organic</h1>
                        <p class="text-muted">Free pickup and delivery avaliable</p>
                        <button style="background-color: green; color: white; border-radius: 0" class="btn">SHOP NOW</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <br/>
  <br/>
    <div class="text-center">
        <br/>
        <h2 class="fw-bold">From the blog</h2>
        <div style="width: 100px; height: 4px; background-color: green; margin: auto"/>
        <br/>
    </div>
  <br/>
    <div class="container">
        <div class="row text-start">
            <div class="col-4">
                <img src="https://ivankitanovski.github.io/exam/blog-1.jpg" class="card-img" alt="...">
                <br/>
                <p class="text-muted">May 5, 2019,  5</p>
                <p class="fw-bold">Cooking tips made cooking simple</p>
                <p class="text-muted">dSAkdsakdjasld lkd asjkdlajs djklas fdakjldj asdjalkj dakld asdjklasd ahsjlfka fa</p>
            </div>
            <div class="col-4">
                <img src="https://ivankitanovski.github.io/exam/blog-2.jpg" class="card-img" alt="...">
                <br/>
                <p class="text-muted">May 5, 2019,  5</p>
                <p class="fw-bold">Cooking tips made cooking simple</p>
                <p class="text-muted">dSAkdsakdjasld lkd asjkdlajs djklas fdakjldj asdjalkj dakld asdjklasd ahsjlfka fa</p>
            </div>
            <div class="col-4">
                <img src="https://ivankitanovski.github.io/exam/blog-3.jpg" class="card-img" alt="...">
                <br/>
                <p class="text-muted">May 5, 2019,  5</p>
                <p class="fw-bold">Cooking tips made cooking simple</p>
                <p class="text-muted">dSAkdsakdjasld lkd asjkdlajs djklas fdakjldj asdjalkj dakld asdjklasd ahsjlfka fa</p>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <div style="background-color: whitesmoke" class="text-start">
        <div class="container p-5">
        <div class="row">
            <div class="col-4">
                <p><b>FINKI exam</b></p>
                <p>Department</p>
                <p>Organization</p>
                <p>Contact</p>
            </div>
            <div class="col-4">
                <p><b>Studies</b></p>
                <p>Bachelors</p>
                <p>Masters</p>
                <p>PhD</p>
            </div>
            <div class="col-4">
                <p><b>Staff</b></p>
                <p>Administrative</p>
                <p>Teaching</p>
            </div>
        </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>