<html>
<head>
    <meta charset="utf-8">
    <title>Add new Student to Course</title>
    <style type = "text/css">
        body {
            width: 800px;
            margin: auto;
        }
        table {
            width:100%;
        }
        table, td, th {
            border: 1px solid black;
            padding:3px 2px;
        }
        section {
            float: left;
            margin: 0 1.5%;
            width: 63%;
        }
        aside {
            float: right;
            margin: 0 1.5%;
            width: 30%;
        }
    </style>
</head>
<body>
<header>
    <h1>Student Enrollment - Select the Student </h1>
</header>
<section>
    <h2>Select the student to enroll:</h2>
    <a href='/CreateStudent' type='button'>Create New Student</a> <br/> <br/>
    <div>
        <form th:method="POST" th:action="@{/AddStudent}">
            <label for='search'>Search</label><input id='search' type='text' name='search'/><br/>
            <input type='submit' value='Submit'/>
        </form>
    </div>
    <form th:method="POST" th:action="@{/AddStudent}">
        <div th:each="student : ${students}">
            <input th:id="${student.username}"  type="radio" name="student" th:value="${student.username}">
            <label th:for="${student.username}" th:text="${student.name + ' ' + student.surname}"></label>
        </div>

        <br/>
        <input type="datetime-local" name="dateTime" id="date"/>
        <label for="date">Date</label>
        <br/>
        <input type="text" id="grade" name="grade"/>
        <label for="grade">Grade</label>
        <br/>
        <input type="submit" value="submit" th:disabled="${students.size()==0}">
    </form>
</section>
<aside>
    <table>
        <tr>
            <th colspan="2">
                Your Enrollment Status
            </th>
        </tr>
        <tr>
            <td><b>Course Id</b></td>
            <td><th:block th:text="${courseId}"></th:block></td>
        </tr>
    </table>
</aside>

</body>
</html>